*{margin: 0; padding:0;}

html {
    font-family: 'comic sans ms'
}

.loading{
    width: 100px;
    height: 50px;
    background: greenyellow;
    position: relative;
    margin: 100px;
    animation-name: grow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    text-align: center;
    border-color: black;
    border-width: 5px;
    border-style: solid;
}

@keyframes grow {
    /*from*/
    0%{
        width: 1px;
        background: red;
        border-radius: 0%;
    }

    100%{
        width: 500px;
        background: green;
    }
}