
#loading{
    font-family: Arial;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:(-50%, -50%);
    text-align: center;
    animation-name: alert;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes alert{
    0%{ 
        transform: scale(1);
    }

    100%{
        transform: scale(20) rotateZ(3600deg);
    }
}